body{
    height: 98vh;
    width: 207vb;
    background: linear-gradient(200deg, rgb(105, 105, 201) ,rgb(212, 95, 114));
}

/* nav starts */

nav{
    display: flex;
    justify-content: end;
}
#ele{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    border: 1px black solid;
    rgb(105, 105, 201));
}

a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

/* nav bar end*/

/* main body starts */
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#bo{
    display: flex;
    height: 77vh;
    width: 200vb;
    background: linear-gradient(200deg , rgb(212, 95, 114), rgb(105, 105, 201));
    border-radius: 10px;
}
#image{
    margin: 50px;
    width: 100vb;
    display:flex;
    justify-content: center;
    align-items: center;
}
img{
    border-radius: 50%;
    height: 400px;
    width: 400px;
}
#content{
    width: 500px;
    margin: 20px;
}
h1{
    font-size: 50px;
}
p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/* end of main body */