*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #262626;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

nav{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0;margin: 0;
    position: fixed;
    top: 10px;
    z-index: 100;
}
a{
    text-decoration: none;
    color: white;
}

#herocard{
    height: 80%;
    width: 80%;
    background-color: #312f2f;
    position: relative;
    border-radius: 12px;
    display: flex;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg ;
    inherits: false;
}
#herocard::after,#herocard::before{
    content: "";
    position: absolute;
    background-image: conic-gradient(from var(--angle), red,blue,green,yellow,red);
    inset: -10px;
    border-radius: 16px;
    z-index: -2;
    animation: spin 3s linear infinite;
}
#herocard::before{
    filter: blur(20px);
    opacity: 0.5;
}

@keyframes spin {
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}


/*inner text*/

#text{
    margin: 20px;
    font-size: 50px;
    color: #EEEEEE;
    
    #name{
        width: auto;
        margin-top: 10px;
        background:linear-gradient(45deg, red,blue);
        background-clip: text;
        color: transparent;
    }
}

#mypho{
    height: 400px;
    position: absolute;
    right: 50px;
    align-self: center;
    border-radius: 50%;
    transition: all 0.5s ease;
}
#mypho:hover{
    transform: scale(1.1);
}

#hcjimg{
    position: absolute;
    bottom: 100px;
    height: 200px;
    transition: all 0.5s ease;
}
#hcjimg:hover{
    transform: scale(1.1);
}

#hlo{
    margin-bottom: 10px;
}
