*{
    margin: 0;padding: 0;
}

body{
    background-color: #262626;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#projects{
    color: azure;
    height: 90vh;
    width: 90vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#cards
.card{
    margin: 20px;
    height: 100px;
    width: 100px;
    background-color: aqua;
}