body{
    justify-content: center;
    display: flex;
    height: 100vh;
    background :linear-gradient(45deg,red,blue);
}

a{
    align-self: center;
    font-size: 200px;
    color:  rgba(119, 119, 119, 0.432);
    text-decoration: none;
}
