body{
    height: 98vh;
    width: 207vb;
    background: linear-gradient(200deg, rgb(105, 105, 201) ,rgb(212, 95, 114));
}

/* nav starts */

nav{
    display: flex;
    justify-content: end;
}
#ele{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    border: 1px black solid;
    background: linear-gradient(200deg , rgb(212, 95, 114), rgb(105, 105, 201));
}

a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

/* nav bar end*/

/*dis in main*/
#dis{
    position: relative;
}
#boll1{
    top: 20px;
    position: absolute;
    left: 700px;
    background: linear-gradient(200deg ,  rgb(212, 43, 71), rgb(67, 67, 246));
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(20px);
}

#boll2{
    top: 195px;
    left: 300px;
    position: absolute;
    background: linear-gradient(200deg , rgb(212, 43, 71), rgb(67, 67, 246));
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(20px);
}
#main{
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;

}
#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color:rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    height: 80vh;
    width: 75vb;

}
p{
    margin: 10px;
    align-self: flex-start;
}

#main:hover{
    transform: scaleX(1.05);
}
#about:hover{
    transform: none;
}

