*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #262626;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

nav{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0;margin: 0;
    position: fixed;
    top: 10px;
    z-index: 100;
}
#home{
    color: #262626;
    background-color: #EEEEEE;
    height: 25px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: white;
}

#aboutcard{
    height: 80%;
    width: 80%;
    background-color: #312f2f;
    position: relative;
    border-radius: 12px;
    display: flex;
    margin-top: 75px;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg ;
    inherits: false;
}
#aboutcard::after,#aboutcard::before{
    content: "";
    position: absolute;
    background-image: conic-gradient(from var(--angle), red,blue,green,yellow,red);
    inset: -10px;
    border-radius: 16px;
    z-index: -2;
    animation: spin 3s linear infinite;
}
#aboutcard::before{
    filter: blur(20px);
    opacity: 0.5;
}

@keyframes spin {
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}

#conm{
    margin: 30px;
    font-size: 40px;
    color: azure;
}
#logos{
    height: 100%;
    width: 40vw;
    font-size: 50px;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}
#email{
    color: azure;
    position: absolute;
    bottom: 150px;
}
i{
    transition: all 0.5s ease;
}
i:hover{
    transform: scale(1.2);
}